{% extends '::base.html.twig' %}

{% block body %}
    {% block content %}
        <div class= "contenu" align ="center">
            <header>
                <h1>Création d'un Film en Bluray</h1>
            </header>

            <div class ="contenuadmin">
                <section>
                    {{ form(form) }}

                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('swater_land_bluray_homepage') }}">
                                Retour sur la liste des Bluray
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
    {% endblock %}
{% endblock %}

