{% extends '::base.html.twig' %}

{% block body %}
{% block content %}
    <div class= "contenu" align ="center">
        <header>
            <h1>Creation d'une Serie</h1>
        </header>

        <div class ="contenuadmin">
            <section>
                {{ form(form) }}

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('swater_land_serie_homepage') }}">
                            Retour sur la liste des séries
                        </a>
                    </li>
                </ul>
            </section>
        </div>
{% endblock %}
{% endblock %}
