{% extends '::base.html.twig' %}
{% block title %}Recherche{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% block content %}

        <div class= "contenu" align ="center">
        <header>
            <h1>Recherche</h1>
            </br>

        </header>

        <div id ="contenuindex">
            <table>
                <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('swater_land_recherche_reponse') }}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name ="search">
                          <span class="input-group-btn">
                            <input type="submit" class="btn btn-default" value="recherche" style="height:32px;width:100px;background-color:grey;">
                          </span>
                    </div>
                </form>
            </table>
        </div>
        </div>
    {% endblock %}
    {% block reponse %}
        </br></br></br></br></br>
    {% endblock %}
    {% else %}
        <div class= "contenu" align ="center">
        <a href="{{ path('fos_user_security_login') }}">Connectez-vous </a>
    {% endif %}
{% endblock %}